<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Doodl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Doodl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <Doodl.Properties.Settings>
            <setting name="DoodlName" serializeAs="String">
                <value>Anonymous Doodler</value>
            </setting>
            <setting name="OpenDoodlOnUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyDoodlUrl" serializeAs="String">
                <value>True</value>
            </setting>
        </Doodl.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Doodl.Properties.Settings>
            <setting name="UploadEndpoint" serializeAs="String">
                <value>https://doodl.azurewebsites.net/doodl/upload</value>
            </setting>
        </Doodl.Properties.Settings>
    </applicationSettings>
</configuration>
